<div class="row p-3 m-0 border-0 bd-example m-0 border-0">
    <div class="col-sm-12 align-self-start">
        <h1>Editar Dados</h1>
    </div>

    <div class="col-md-6 offset-md-3 col-sm-12">
        <%= form_for current_user do |f| %>
            <%= render 'form', f: f %>

            <%= f.submit 'Cadastrar', class: 'btn btn-primary' %>
        <% end %>
            
    </div>
</div>

