<h2 class="p-3 m-0">Olá, <%= current_user.name %>!</h2>

<p class="p-3 fs-5">Explore nosso site e descubra muitos artigos fascinante.</p>

<div class="p-3">
<%= link_to "Continue", articles_path, class: "btn btn-primary" %>
</div>

