<h1 class="p-5 text-center">Notícias Salvas</h1>

<div class="text-end mb-5">
  <%= link_to "Voltar para artigos", articles_path, class: "btn btn-primary btn-save-news" %>
</div>

<% @saved_news.each do |news| %>
  <div class="mb-3">
    <h3><%= news.title %></h3>
    <p><%= news.description %></p>
    <a href="<%= news.url %>" target="_blank">Ver original</a>
  </div>
<% end %>

