<h1>Notícias Salvas</h1>

<% @saved_news.each do |news| %>
  <div class="mb-3">
    <h3><%= news.title %></h3>
    <p><%= news.description %></p>
    <a href="<%= news.url %>" target="_blank">Ver original</a>
  </div>
<% end %>
