@import "bootstrap";

$gray-medium-light: #EAEAEA;

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: #6c757d;
  a {
    color: #374151;
    text-decoration: unset;
    &:hover{
      color: #212529;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}